/*
color: #2196F3; акцент
color: #212121; цвет заголовков
color: #757575; цвет текста
color: #FFFFFF; белый

background: #F5F4FA; наша команда
background: #FFFFFF; основной
background: #2F303A; футер

font-family: 'Raleway', sans-serif; лого
font-family: 'Roboto', sans-serif; основной
*/
/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --icon-social-main-color: #afb1b8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --background-color-main: #ffffff;
  --background-color-second: #f5f4fa;
  --background-color-footer: #2f303a;
  --transition-duration: 250ms;
} */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-v17-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/raleway-v17-latin_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--background-color-main);
}
img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
   
} */
/* header */
.page.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
/* лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  --black-color: #000000;
  color: var(--black-color);
  letter-spacing: 0.03em;
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav .logo {
  margin-right: 85px;
}
.logo-footer {
  color: var(--white-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
span.accent {
  color: var(--accent-color);
}

/* nav */
.nav {
  display: flex;
  justify-content: flex-end;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
  align-items: center;
}
.auth-nav .item + .item {
  margin-left: 30px;
}
.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item {
  position: relative;
}
.link.current::after {
  content: "";
  position: absolute;
  top: 45.2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site .auth-nav .link {
  color: var(--primary-text-color);
}
.auth-nav-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero-box {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: rgba(47, 48, 58, 0.8);
}
.hero {
  text-align: center;
  padding: 200px 0px;
}
.hero-title {
  margin: 0px 0px 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button-main {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover,
.button-main:focus {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--background-color-main);
}

/* Секции*/

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section .title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*  Feature */
.no-bottom-padding {
  padding-bottom: 0;
}
.feature-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature.list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}
.feature-item:nth-child(4n) {
  margin-right: 0;
}
.feature-icon {
  height: 120px;
  background-color: var(--background-color-second);
  padding: 25px 100px;
}

.feature-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*Service*/
.service.list {
  display: flex;
}
.service-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  position: relative;
}
.service-item:nth-child(4n) {
  margin-right: 0;
}

.service-name {
  position: absolute;
  bottom: 0;
  padding: 27px 0px;

  margin: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
/* Team */
.section.team {
  background-color: var(--background-color-second);
}
.list.team {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  padding-bottom: 24px;
  background-color: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(4n) {
  margin-right: 0;
}

.member-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.position {
  margin-top: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.team.socials {
  display: flex;
  justify-content: center;
}

/* social links for team */

.social-icon.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--transition-duration)
      cubic-bezier(0.4, 0, 0.2, 1),
    fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: var(--icon-social-main-color);
}
.social-icon.link:hover,
.social-icon.link:focus {
  background-color: var(--accent-color);
}
.social-icon.link:hover .social-icon,
.social-icon.link:focus .social-icon {
  fill: var(--white-color);
}

.socials.list .item + .item {
  margin-left: 10px;
}

/* Clients */
.clients.list {
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
}
.clients-item:nth-child(6n) {
  margin-right: 0;
}
.clients.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--icon-social-main-color);
  border-radius: 4px;
  transition: border var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: var(--icon-social-main-color);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.clients.link:hover .clients-icon,
.clients.link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients.link:hover,
.clients.link:focus {
  border: 1px solid var(--accent-color);
}

/* Footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.address {
  margin-top: 20px;
}
.address .item:not(:last-child) {
  margin-bottom: 9px;
}
.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--footer-contacts-color);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-map {
  color: var(--white-color);
}
/* .join-us-box {
  margin-left: 70px;
  margin-right: 93px;
} */
.join-us.list {
  display: flex;
}
.join-us.list .item + .item {
  margin-left: 10px;
}
.join-us.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us.link:hover,
.join-us.link:focus {
  background-color: var(--accent-color);
}
.join-us .social-icon {
  fill: var(--white-color);
}
.subscribe {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  transition: border-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus {
  outline: none;
  color: var(--white-color);
  border-color: var(--white-color);
}
.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
}
.subscribe-button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/icon-send.svg);
}
/* --------------------Портфолио */
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filter .item + .item {
  margin-left: 8px;
}
.filter .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color-second);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-duration)
      cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* -----------------------works */
.work.list {
  display: flex;
  flex-wrap: wrap;
}
.work .item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.work .item:nth-child(3n) {
  margin-right: 0;
}
.work .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work .link:hover .overlay,
.work .link:focus .overlay {
  transform: translateY(0);
}
.product-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.name-box {
  padding: 20px 24px;
}
.work .name {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.work .type {
  margin: 0;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.work .desc {
  /* display: none; */
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
/* --------------------modal------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
button.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background-color-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon {
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

button.close:hover .close-icon,
button.close:focus .close-icon {
  fill: var(--accent-color);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.heading {
  display: block;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* Form---------------------------- */
.form-field {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-box {
  position: relative;
  margin-top: 4px;
}

.form-input,
.comment {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-input:focus,
.comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.label-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color var(--transition-duration)
      cubic-bezier(0.4, 0, 0.2, 1),
    background-image var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-policy {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.checkbox-policy:checked + .check-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.button-box {
  text-align: center;
}
.button-submit {
  display: inline-block;
  padding: 10px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
