body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $primary-text-color;
  background-color: $background-color-main;
}
img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
