body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $primary-text-color;
  background-color: $background-color-main;
}
img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section .title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
