.no-bottom-padding {
  padding-bottom: 0;
}

.feature.list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.feature-icon {
  height: 120px;
  background-color: $background-color-second;
  padding: 25px 100px;
}

.feature-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
